/* dinh dạng balo */
.product {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
}
.product-items {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 150px;
}
img {
  width: 100px;
  height: 200px;
  font-size: 30px;
  text-align: left;
}
h1 {
  text-align: center;
}
