.product {
  display: flex;
  margin: 50px auto;
}
.product-items {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px cornflowerblue rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 150px;
}
img {
  width: 200px;
  height: 200px;
  font-size: 40px auto;
  text-align: center;
}
h1 {
  text-align: center;
}
