* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  height: 60px;
  align-items: center;
}
.logo {
  flex: 1;
  font-size: 800px auto;
}
.menu {
  flex: 3;
  display: flex;
}
.menu > li {
  padding: 0 12px;
  position: relative;
}
.menu > li:hover .sub-menu {
  visibility: visible;
  top: 30px;
}
.sub-menu {
  position: absolute;
  width: 150px;
  border: 1px solid #ccc;
  padding: 10px 0 10px 20px;
  visibility: hidden;
  top: 50px;
  transition: 0.4s;
}
.sub-menu ul {
  padding-left: 20px;
}
.sub-menu li ul a {
  font-weight: normal;
  font-size: 12px !important;
}
.menu > li a {
  font-size: 15px;
  font-weight: bold !important;
  display: block;
  line-height: 20px;
}
.others {
  flex: 1;
  display: flex;
}
.others > li {
  padding: 0 12px;
}
.others > li:first-child {
  position: relative;
}

.others > li:first-child input {
  width: 100px;
  border: none;
  border-bottom: 1px solid #333;
}
