.product {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  margin: 30px auto;
}
.product-items {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px cornflowerblue rgba(0, 0, 0, 0.1);
  text-align: center;
}
img {
  width: 130px;
  height: 130px;
  font-size: 30px auto;
  text-align: center;
}
h1 {
  text-align: center;
}
